* {
margin: 0;
padding: 0;
}

body{
background: /*#212121*/ url(../images/fondo.jpg); /* # 212121 escala de negro */
color:#FFF; /* # FFF color blanco */
/*font-family: “Chalet”, Helvetica, Verdana;*/
font-size: 2em;
}

H1{
color: #FBBF37;
margin: 0.15em auto;
text-align:left;
text-shadow: 5px 5px 10px rgba(255,255,225,0.5); /* distancia x distancia y blur desenfoque, color: blanco y opacidad */
}

header{
border-radius: 0.0em;
margin: 0.0em auto;
max-width: 960px;
padding:0.0em;
text-align: center;
}

nav{
background: #50181A;
border-radius: 0.0em;
margin: 0.5em auto;
max-width: 960px;
padding:0.0em;
text-align: center;		
list-style: none outside none;
}


section#contenedor      {
background:  #50181A ;
margin: 0.5em auto;
max-width: 960px;
padding: 0;
text-align:center;
}

section#principal, aside               {
background: #52D2F6;
border-radius: 0.0em;
display: inline-block; /* se comporta en bloque */
margin: 0.25em auto;
max-width: 960px;
min-height: 150px;
padding: 0.1em;
text-align: center;
vertical-align: top;
width: 65%;
}

article{
background: #000022;
border-radius: 0.0em;
min-height: 100px;
padding: 0.25em;
}

 
aside
{
color: black;
width: 30%;
}

footer{
background: #52D2F6;
border-radius: 0.0em;
margin: 0.5em auto;
max-width: 940px;
padding:0.25em;
text-align: center;
color: black;
}